<footer class="footer">

    <nav class="footer__list flex">
      <ul class="footer__list--type">
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Articles">articles</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Books">books</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Events">events</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Reasons">reasons</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Tips">tips</a></li>
      </ul>
    </nav>

    <nav class="footer__list media">
      <ul class="footer__list--type">
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Twitter">twitter</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Instagram">instagram</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Mastodon.social">mastodon.social</a></li>
      </ul>
    </nav>

  <section class="footer__end">
    <div class="footer__end--copy">&copy;2017</div>
    <div class="footer__end--heart">we <span class="orange">&#10084;</span> components</div>
  </section>

</footer>
