<footer class="footer">

    <a class="footer__arrow" href="#header" title="Go to the top"><img src="../assets/images/ico-arrow.svg" alt="arrow-icon"></a>

    <nav class="footer__list">
      <ul class="footer__list--type">
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Articles">articles</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Books">books</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Events">events</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Reasons">reasons</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Tips">tips</a></li>
      </ul>
    </nav>

    <nav class="footer__list">
      <ul class="footer__list--type">
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Twitter">twitter</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Instagram">instagram</a></li>
        <li><a class="footer-link" href="https://adalab.es/" title="Go to Mastodon.social">mastodon.social</a></li>
      </ul>
    </nav>
  
  <div class="footer__copy">&copy;2017</div>

  <div class="footer__heart">we <span class="footer__heart--orange">&#10084;</span> components</div>

</footer>
