<main>
 
    <section class="section1">
        <small class="section1__small">Insomnia Tips<small>
        <h2 class="section1__title">looking through a window</h2>
        <p class="section1__text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        <button class="section1__button"><a class="section1__button--simple" href="" title="Go to another page">go</a></button>
    </section>

    <section class="section2" id="reasons">
        <h2 class="section2__title">3 reasons to purchase</h2>
        <ul class="list">
            <li class="list__text">Ut sed metus
                <p class="list__text--normal">Lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="list__text">Curabitur ac erat
                <p class="list__text--normal">Mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="list__text">Morbi dictum
                <p class="list__text--normal">Aliquam in dolor et dolor tincidunt.</p>
            </li>
        </ul>
        <button class="section2__button"><a class="section2__button--simple" href="" title="Go to another page">more reasons</a></button>
        <a class="section2__arrow" href="#header" title="Go to the top"><img src="../assets/images/ico-arrow.svg" alt="arrow-icon"></a>
    </section>

    </main>