
$titleWhite: #ffffff;
$textWhite: #ffffff;
$listColor: #ffffff;
$titleBlack: #000000;
$textBlack: #000000;
$textGreyish: #4a4a4a;
$buttonText: #ffffff;
$buttonOrange: #f26002;
$arrowBackground: #ffffff;
$backgroundWhite: #ffffff;
$backgroundButton: #ffffff;
$arrowOrange: #f26002;
$buttonBorder: #f26002;
$titleFont: 'Roboto Slab', serif;
$textFont: 'Roboto', sans-serif;
$buttonFont: 'Roboto', sans-serif;
$listFont: 'Roboto', sans-serif;
// $buttonFont: 'Roboto', sans-serif;