$titleWhite: #ffffff;
$titleBlack: #000000;
$titleFont: 'Roboto Slab', serif;

$textWhite: #ffffff;
$textBlack: #000000;
$textGreyish: #4a4a4a;
$textFont: 'Roboto', sans-serif;

$listColor: #ffffff;
$listFont: 'Roboto', sans-serif;

$buttonText: #ffffff;
$buttonFontOrange: #f26002;
$buttonBorder: #f26002;
$backgroundButtonWhite: #ffffff;
$backgroundButtonOrange: #f26002;
$buttonFont: 'Roboto', sans-serif;

$arrowBackground: #ffffff;
$arrowOrange: #f26002;

$backgroundWhite: #ffffff;