.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 40px 15px 45px;
  background-color: #304268;
  @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
  }
    &__list {
        margin: 0 0 30px 0;
        &--type {
            box-sizing: border-box;
            padding: 0; 
            list-style-type: none;
            text-align: center;
        }
    }
    &__end {
        @media all and (min-width: 768px) {
            order: 0;
        }
        &--copy {
            @include t($listFont, 14px, #ffffff);  
            text-align: center;
        }
        &--heart {
            @include t($listFont, 14px, $listColor);
         }
    }
}

.orange {
    color: $buttonOrange;
}

.footer-link {
    text-decoration: none;
    @include t($listFont, 16px, $listColor);
    text-transform: uppercase;
}

.flex {
    @media all and (min-width: 768px) {
        order: 1;
    }
}

.media {
    @media all and (min-width: 768px) {
        order: 2;
    }
}
