.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 60px 15px 45px;
  background-color: #304268;
  @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      padding: 45px 39px 45px 39px;
  }
  @media all and (min-width: 1280px) {
      justify-content: center;
  }
    &__list {
        margin: 0 0 30px 0;
        &--type {
            box-sizing: border-box;
            padding: 0; 
            list-style-type: none;
            text-align: center;
            @media all and (min-width: 768px) {
                text-align: left;
                width: 210px;
            }
            @media all and (min-width: 1280px) {
                width: 159px;
            }
        }
    }
    &__end {
        line-height: 2.14;
        @media all and (min-width: 768px) {
            order: 0;
            width: 210px;
        }
        @media all and (min-width: 1280px) {
            width: 159px;
            padding-right: 30px;
        }
        &--copy {
            @include t($listFont, 14px, #ffffff);  
            text-align: center;
            @media all and (min-width: 768px) {
                text-align: left;
            }
        }
        &--heart {
            @include t($listFont, 14px, $listColor);
         }
    }
}

.orange {
    color: $buttonFontOrange;
}

.footer-link {
    text-decoration: none;
    @include t($listFont, 16px, $listColor);
    text-transform: uppercase;
    line-height: 1.88;
}

.articles {
    @media all and (min-width: 768px) {
        order: 1;
    }
}

.social {
    @media all and (min-width: 768px) {
        order: 2;
    }
}
