.header {
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 0 53px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @media all and (min-width: 1280px) {  
        padding-bottom: 13px; 
    }
    &__hamburger {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        text-decoration: none;
        width: 44px;
        height: 44px;
        padding: 15px 14px;
        background-color: #0271bc;
        z-index: 1000;
    }
    &__title {
        margin: 284px 0 10px 15px;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        @include t($titleFont, 42px, $textWhite);
        text-transform: uppercase;
        text-align: center;
        @media all and (min-width: 768px) {
            font-size: 80px;
            margin: 384px 39px 20px 39px;
        }
        @media all and (min-width: 1280px) {
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            font-size: 100px;  
            margin: 384px 275px 0 275px;
        }
    }
    &__text {
        margin: 10px 0 45px 15px;
        @include t($textFont, 16px, $textWhite);
        @media all and (min-width: 768px) {
            font-size: 24px;
            margin: 0px 204px 30px 204px;
        }
        @media all and (min-width: 1280px) {
             
        }
    }
    &__arrow {
        width: 45px;
        height: 45px; 
        background-color: $arrowBackground;
        border-radius: 22.5px;
        box-sizing: border-box;
        padding: 18px 12px 15.3px 13px;
        text-decoration: none;
        visibility: hidden;
        @media all and (min-width: 768px) {
            visibility: visible;
        }
    }
}