.section1 {
    background-color: $backgroundWhite;
    padding: 30px 15px 45px;
    @media all and (min-width: 1280px) {
        padding: 60px 275px;
    }
        &__small {
        @include t('Roboto', 14px, #8ccbea);
        margin: 0 200px 1px 0;
        line-height: 2.14;
            @media all and (min-width: 1280px) {
                font-size: 16px;
                line-height: 1.88;
            }
        }
        &__title {
            @include t($titleFont, 24px, $titleBlack);
            text-transform: capitalize;
            margin: 1px 0 15px;
            line-height: 1.25;
            @media all and (min-width: 768px) {
                font-size: 26px;
                margin: 0 0 30px 0;
            }
            @media all and (min-width: 1280px) {
                font-size: 32px;
                line-height: 1.41;
            }
        }
        &__text {
            @include t($textFont, 18px, $textGreyish);
            line-height: 1.67;
            margin: 15px 0 30px;
            @media all and (min-width: 768px) {
                font-size: 20px;
            }
            @media all and (min-width: 1280px) {
                margin-top: 0;
            }
        }
        &__button {
            text-transform: capitalize;
            width: 76px;
            height: 45px;
            padding: 0 25px 0 26px;
            border-radius: 22.5px;
            border: solid 2px $buttonBorder;
            background-color: $backgroundButton;
            transition: background-color ease 0.6s;
            &:hover {
                background-color: #f7d1b9;
            }
            &--simple {
                text-decoration: none;
                @include t($buttonFont, 20px, $buttonOrange);
            }
            @media all and (min-width: 768px) {
                width: 91px;
                padding: 0 32.5px 0 33.5px;
            }
            @media all and (min-width: 1280px) {
                width: 160px;
                padding: 0 67px 0 68px;
            }
        }
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 60px;
    background-color: #eff9ff;
    &__title {
        @include t($titleFont, 24px, $titleBlack);
        text-transform: capitalize;
        margin: 0 0 45px;
        line-height: 1.25;
        @media all and (min-width: 768px) {
            font-size: 26px;
        }
        @media all and (min-width: 1280px) {
            font-size: 32px;
            padding-top: 30px;
        }
    }
    &__button {
        width: 184px;
        height: 45px;
        background-color: #f26002;
        border-radius: 22.5px;
        border: none;
        padding: 0 29.5px 0 30.5px;
        transition: height width ease 1s, background-color ease 1s;
        &:hover {
            height: 55px;
            width: 194px;
            background-color: #f14907;
        }
        &--simple {
            text-decoration: none;
            @include t($buttonFont, 20px, $buttonText);
        }
        @media all and (min-width: 768px) {
            width: 210px;
            padding: 0 42.5px 0 43.5px;
            &:hover {
                width: 220px;
            }
        }
        @media all and (min-width: 1280px) {
            width: 250px;
            padding: 0 62px 0 63px;
            &:hover {
                width: 260px;
            }
        }
    }
    &__arrow {
        width: 45px;
        height: 45px;
        position: relative;
        bottom: -85px;
        padding: 11px 12.4px 10px 12px;
        border-radius: 22.5px;
        box-sizing: border-box;
        text-decoration: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: $arrowBackground;
        color: $arrowOrange;
    }
}

.section2__button:first-letter {
    text-transform: capitalize;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    @media all and (min-width: 768px) {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 1fr;
        margin: 0 26px 0 22px;
    }
    &__text {
        @include t($titleFont, 18px, $titleBlack);
        font-weight: bold;
        text-align: center;
        @media all and (min-width: 768px) {
            font-size: 24px;
        }
        &--normal {
            @include t($textFont, 18px, $textBlack);
            margin: 0 0 45px 0;
            width: 180px;
            @media all and (min-width: 768px) {
                font-size: 20px;
                width: 212.3px;
                line-height: 1.5;
                margin: 14px 14px 60px 14px;
            }
            @media all and (min-width: 1280px) {
                width: 353.8px;
            }
        }
    }
}